body {
	margin: 0;
	font-family: ProximaNova,ProximaNovaFallback,sans-serif;
}
canvas {
    width: 100% !important;
    height: 100% !important;
  }
p {
  margin: 0;
  line-height: 1.5;
  font-size: calc(10px + 0.5vw);
}

.interactive-buildings{
  display: grid;
  grid: auto-flow / 1fr 1.5fr;
  padding: 7vh 10vw 7vh 10vw;
  min-height: 100vh;
  gap: 5%;
  box-sizing: border-box;
}
.content{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.content div{
  width: 100%;
}
#map{
  width: 100%;
  height: 90%;
}
.text-section{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.chart-title{
  font-size: calc(10px + 0.8vw);
  font-weight: 600;
}
.grey-points{
  width: 100%;
  display: flex;
  gap: 10px;
}
.grey-points input{
  width: 20px;
  margin: 0;
}
#canvas-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#text-container{
  width: 80%;
  height: 80%;
  position: relative;
}
.text-block{
  display: flex;
  position: absolute;
  width: 100%;
  height: 50%;
}
.second{
  top: 50%;
}
.chart-lable{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  width: inherit;
  font-size: 14px;
  opacity: 0;
}
.chart-lable.active{
  opacity: 0;
}
.chart-lable:hover{
  opacity: 1;
}
.a{
  padding: 16% 5% 11% 9%;
}
.b{
  padding: 16% 9% 11% 5%;
}
.c{
  padding: 11% 5% 16% 9%;
}
.d{
  padding: 11% 9% 16% 5%;
}

@media screen and (max-width: 768px) {
  .interactive-buildings{
    display: flex;
    padding: 3vh 5vw 3vh 5vw;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .map-title{
    width: 90vw;
  }
  .content{
    gap: 10px;
  }
  #text-container{
    width: 95%;
  }
  .chart-title{
    font-size: calc(10px + 2vw);
  }
  .text-block p{
    font-size: 10px !important;
  }
  .a{
    padding: 25% 5% 11% 20%;
  }
  .b{
    padding: 25% 20% 11% 5%;
  }
  .c{
    padding: 11% 5% 25% 20%;
  }
  .d{
    padding: 11% 20% 25% 5%;
  }
  .chart-lable.active{
    opacity: 1;
  }
}