body{
    margin: 0;
    font-family: ProximaNova,ProximaNovaFallback,sans-serif;
  }

  p{
    margin: 0;
    line-height: 1.5;
  }

  .interactive-buildings {
    display: grid;
    grid: auto-flow / 1fr 1.5fr;
    padding: 5vh 10vw 5vh 10vw;
    height: 100vh;
    box-sizing: border-box;
  }
  .content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .map-title{
    display: flex;
    flex-direction: column;
    gap: 15px;
    bottom: 3%;
    position: relative;
  }
  .chart-title p, .content p{
    width: inherit;
    font-size: 16px;
  }
  .chart-title{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .chart-title br{
    margin-bottom: 10px;
  }
  #map {
    width: 100%;
    height: 80%;
  }
  #address-input{
    width: 250px;
  }
  #canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text-container{
    width: 90%;
    height: 90%;
    position: relative;
  }
  canvas {
    width: 100%;
    height: 100%;
  }
  .text-block{
    display: flex;
    position: absolute;
    width: 100%;
    height: 50%;
  }
  .second{
    top: 50%;
  }
  .chart-text{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
  }
  .chart-text{
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    p{
      font-size: 14px !important;
    }
    .interactive-buildings{
      all: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      gap: 3%;
    }
    .map-title{
      all: unset;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .content{
      width: 95%;
      align-items: center;
      gap: 5px;
      box-sizing: border-box;
      display: flex;
      position: relative;
    }
    #map{
      width: 95%;
      height: inherit;
    }
    .chart-title{
      gap: 5px;
      width: inherit;
    }
  }
